name: "units-test"
on:
  pull_request:
  push:
    branches:
      - master
      - main
      - 'releases/*'

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm test

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm run prepare
    - uses: ./
      with:
        masks: SECRET1, SECRET2
        direnvVersion: 2.32.3
    - run: printenv | grep DIRENV_ACTION_TEST
    - run: echo $PATH | grep $(pwd)/bin
    - run: printenv

  test-default-option:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci
    - run: npm run prepare
    - uses: ./
    - run: printenv | grep DIRENV_ACTION_TEST
    - run: echo $PATH | grep $(pwd)/bin
    - run: printenv
